<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <add key="Shared.Packages" value="https://gitlab.com/api/v4/groups/58040508/-/packages/nuget/index.json" />
    <add key="ProjectXL.Packages" value="https://gitlab.com/api/v4/groups/58019818/-/packages/nuget/index.json" />
  </packageSources>
</configuration>